jobs:
  build:
    env: {}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          username: shanduur-auto
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: |-
          docker \
              buildx \
              build \
              --load \
              --label=org.opencontainers.image.authors='anza-labs contributors' \
              --label=org.opencontainers.image.created='${{ github.event.created_at }}' \
              --label=org.opencontainers.image.revision='${{ github.sha }}' \
              --label=org.opencontainers.image.source='https://github.com/anza-labs/docker-library' \
              --label=org.opencontainers.image.url='${{ github.event.repository.html_url }}' \
              --label=org.opencontainers.image.vendor='anza-labs' \
              --target=${{ matrix.target }} \
              --build-arg=VERSION=${{ matrix.version }} \
              --build-arg=BASE_IMAGE=docker.io/library/alpine:edge@sha256:115729ec5cb049ba6359c3ab005ac742012d92bbaa5b8bc1a878f1e8f62c0cb8 \
              --platform=linux/${{ matrix.arch }} \
              --file=library/chromium/Dockerfile \
              --tag=ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-${{ matrix.arch }} \
              library/chromium
      - run: |-
          docker \
              push \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-${{ matrix.arch }}
      - uses: sigstore/cosign-installer@v4.0.0
      - if: ${{ matrix.version != 'latest' }}
        run: |-
          cosign \
              sign \
              --yes \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-${{ matrix.arch }}
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
        target:
          - image
        version:
          - 144.0.7559.96-r0
  promote:
    env: {}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io
          username: shanduur-auto
      - uses: docker/setup-buildx-action@v3
      - run: |-
          docker \
              manifest \
              create \
              --amend \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }} \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-amd64 \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-arm64
      - run: |-
          docker \
              manifest \
              annotate \
              --arch=amd64 \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }} \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-amd64 && \
          docker \
              manifest \
              annotate \
              --arch=arm64 \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }} \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}-arm64
      - run: |-
          docker \
              manifest \
              push \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}
      - uses: sigstore/cosign-installer@v4.0.0
      - if: ${{ matrix.version != 'latest' }}
        run: |-
          cosign \
              sign \
              --yes \
              ghcr.io/anza-labs/library/chromium:${{ matrix.version }}
    strategy:
      matrix:
        target:
          - image
        version:
          - 144.0.7559.96-r0
name: release library/chromium
"on":
  push:
    branches:
      - main
    paths:
      - .github/workflows/gen__library_chromium.yaml
      - library/chromium/Dockerfile
      - library/chromium/pkg.toml
  workflow_dispatch: {}
permissions:
  contents: write
  id-token: write
  packages: write
